@tailwind base;
@tailwind components;
@tailwind utilities;

.text-montserrat {
    font-family: 'Montserrat';
}

.text-montserrat-medium {
    font-family: 'Montserrat-Medium';
}

.font-roboto {
    font-family: 'Roboto-Medium';
}

.bg-p-dark {
    background-color: #413A54;
}

.bg-p-light {
    background-color: #6B48CA;
}

.text-p-light {
    color: #6B48CA;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./fonts/Montserrat-Regular.ttf)  format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: local('Montserrat-Medium'), url(./fonts/Montserrat-Medium.ttf)  format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: local('Roboto-Medium'), url(./fonts/Roboto-Medium.ttf)  format('truetype');
}